@use 'base';

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  flex-direction: column;
  margin: 0px 20px;
  height: 100%;

  &__start {
    gap: 50px;
    font-family: var(--font-squada);
    text-align: center;

    & .message__start,
    & .label__player-name {
      line-height: normal;
      font-size: var(--text-lg);
    }

    & .form__player-name {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    & .input__player-name {
      padding: 20px 50px;
      background-color: var(--color-background);
      border: 2px solid var(--color-primary);
      border-radius: 50px;
      margin-bottom: 30px;

      text-align: center;
      font-size: var(--text-xl);

      &:focus {
        box-shadow: 0px 0px 15px 0px var(--color-primary);
        outline: none;
      }
    }
  }

  &__ship-placement {
    align-items: center;

    & .message__ship-placement {
      margin-bottom: 20px;
      font-size: var(--text-sm);
      font-family: var(--font-press-start);
    }

    & .btn-container__ship-placement {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      & * {
        width: 100%;
        font-size: var(--text-xxs);
      }
    }
  }

  &__game-display {
    justify-content: start;
    margin: 80px 0;

    & .game-display__board-wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: clamp(500px, 100%, 1200px);

      & .overlay__winner-display {
        position: absolute;
        background-color: rgba(253, 153, 23, 0.85); //put in base as variable
        height: 100%;
        width: 100%;
        border-radius: 15px;
        z-index: 10;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;

        padding: 40px;

        & .btn.btn__close-overlay {
          position: absolute;
          right: 0;
          top: 0;
          background: none;
          box-shadow: none;
          margin: 20px;
          padding: 10px;
          font-size: var(--text-lg);
          color: var(--text-color);

          &:hover {
            color: var(--color-accent);
          }

          &:active {
            outline: none;
          }
        }

        & .message {
          font-family: var(--font-press-start);
        }

        & .message__winner-main {
          font-size: var(--text-xxl);
        }

        & .btn__start-again {
          margin-top: 50px;
        }
      }
    }

    .btn__reset {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 35px;
    }
  }
}
